<configuration>
    <appSettings>
        <!--
            The connection string for the SQLite database.
            Make sure to update the path to the database file as needed.
            Example: "C:\path\to\your\database.db"
        -->
        <add key="db_path" value="E:\CS-UBB\Year-2\SiemensCSharp\library.db"/>
    </appSettings>
</configuration>